<p id="notice"><%= notice %></p>
<div class="container">
  <div class="row d-flex justify-content-center">
    <div class="col-6">
      <div class="card">
        <div class="card-header">
          <h5>
            <strong><%= @todo_list.title %></strong>
          </h5>
        </div>
        <%= form_for([@todo_list, @todo_item]) do |f| %>
          <div class="d-flex list-group-item">
            <div class="input-group">
              <%= f.text_field :description, class: 'form-control', placeholder: "Add new item" %>
            </div>
            <div class="input-group-append">
              <%= f.submit 'Add' %>
            </div>
          </div>
        <% end %>
        <div class="progress ml-4 mr-4 mt-4">
          <div class="progress-bar" role="progressbar" style="width: <%= @todo_list.percent_completed %>%" aria-valuenow="<%= @todo_list.percent_completed %>" aria-valuemin="0" aria-valuemax="100"><%= @todo_list.percent_completed %> %</div>
        </div>
        <ul class='card-body'>
          <% @todo_list.todo_items.each do |todo_item| %>
            <% if todo_item.completed? %>
              <li class='list-group-item'>
                <div class='d-flex justify-content-between aling-items-baseline'>
                  <span class="text-muted"style="text-decoration: line-through;">
                    <%= todo_item.description %>
                  </span>
                  <%= link_to '#', class: 'btn btn-info', data: { reflex: 'click->TodoItem#not_yet', id: todo_item.id } do %>
                    <i class="fas fa-times"></i>
                  <% end %>
                </div>
              </li> 
            <% else %>
              <li class='list-group-item'>
                <div class='d-flex justify-content-between aling-items-baseline'>
                  <span>
                    <%= todo_item.description %>
                  </span>
                  <%= link_to '#', class: 'btn btn-info', data: { reflex: 'click->TodoItem#all_good', id: todo_item.id } do %>
                    <i class="fas fa-check"></i>
                  <% end %>
                </div>
              </li>
            <% end %>
          <% end %>
        </ul>
      </div>
      

      <%= link_to 'Edit', edit_todo_list_path(@todo_list) %> |
      <%= link_to 'Back', todo_lists_path %>
    </div>
  </div>
</div>