<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <%= link_to 'And What i do?', root_path, class: 'navbar-brand' %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
      </ul>
      <% if user_signed_in? %>
        <p class='text-muted'>
          Welcome <%= current_user.name %>
        </p>
        <p class='text-muted'>
          <%= link_to 'Sign out', destroy_user_session_path, method: :delete, class: 'text-muted nav-link' %>
        </p>
      <% else %>
        <p class='text-muted'>
        <%= link_to 'Sign in', new_user_session_path, class: 'text-muted nav-link' %>
        </p>
        <p class='text-muted'>
          <%= link_to 'Sign up', new_user_registration_path, class: 'text-muted nav-link' %>
        </p>
      <% end %>
    </div>
  </nav>
</header>