<!DOCTYPE html>
<html>
  <head>
    <title>And what I do?</title>
    <meta name="description" content="And what I do?" />
    <meta name="title" property="og:title" content="TailStyle" />
    <meta property="og:type" content="Website" />
    <meta name="image" property="og:image" content="#">
    <meta name="description" property="og:description" content="TailStyle" /><meta name="author" content="Ricardo Montengro" />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/navigation' %>
    <%= yield %>
  </body>
</html>
